/* (1366x768) WXGA Display */
@media screen and (min-width: 1920px) {
    .sliderbar-area {
        width: 300px;
    }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1197.98px) {
    .sliderbar-area {
        width: 235px;
    }
    .search-wrapper ul li.search-form input {
        width: 550px;
    }
    .table-responsive tr th,
    .table-responsive tr td {
        font-size: 20px;
    }
    .select-form .select2-container {
        width: 470px !important;
    }
}

/* Normal desktop :991px. */
@media (min-width: 768px) and (max-width: 991.98px) {
    .search-wrapper ul li.search-form input {
        width: 550px;
    }
    .select-form .select2-container {
        width: 470px !important;
    }
}
/* extra small mobile 320px. */

@media (max-width: 768.98px) {
    .header-area {
        position: static;
    }
    .main-content {
        margin-top: 20px;
    }
    .sliderbar-area {
        z-index: 99;
        left: -100%;
        top: 0;
        visibility: hidden;
        height: auto;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        position: absolute;
    }
    .sliderbar-area.active {
        left: -15px;
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    .select-form-style{
        margin-bottom: 30px;
    }
    .select-form-style select{
        width: 300px;
    }
}

@media (max-width: 767.98px) {
    .mainmenu ul li a {
        line-height: 30px;
        font-size: 18px;
    }
    .header-left h5 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .header-right.text-right {
        text-align: left!important;
    }
    .search-wrapper ul {
        display: block !important;
    }
    .search-wrapper ul li.search-form input {
        width: 100%;
    }
    .search-wrapper ul li.search-form button {
        width: 100px;
    }
    .select-form .select2-container {
        width: 100% !important;
    }
    .table-responsive tr th,
    .table-responsive tr td {
        width: 100%;
        height: 40px;
        font-size: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #ccc;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .table-responsive tr td:last-child {
        border-bottom: none;
    }
    .table-responsive tr td.link {
        height: 60px;
    }
    /* Force table to not be like tables anymore */
    .table-style table,
    .table-style thead,
    .table-style tbody,
    .table-style th,
    .table-style td,
    .table-style tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .table-style thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-style tr {
        border: 1px solid #ccc;
    }
    .table-style td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    .table-style td:before {
        position: absolute;

        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .table-style td:nth-of-type(1):before {
        content: "S.No";
    }
    .table-style td:nth-of-type(2):before {
        content: "Name";
    }
    .table-style td:nth-of-type(3):before {
        content: "Id";
    }
    .table-style td:nth-of-type(4):before {
        content: "Branch";
    }
    .table-style td:nth-of-type(5):before {
        content: "Designation";
    }
    .table-style td:nth-of-type(6):before {
        content: "Employee or Managger";
    }
    .table-style td:nth-of-type(7):before {
        content: "Manegger Name";
    }
    .table-responsive ul li a {
        display: inline-block;
        font-size: 15px;
        width: 120px;
    }
    .line:before{
        display: none;
    }
    .login-form{
        width: 100%;
        margin-top: 50px;
    }
    .select-form-style select{
        width: 100%;
    }
    #contact-google-map {
        height: 350px;
    }
    #contact-google-map2 {
        height: 350px;
    }
}

/* small mobile :576px. */

@media (min-width: 576px) and (max-width: 767.98px) {
    .search-wrapper ul li.search-form input {
        width: 390px;
    }
    .header-left h5 {
        font-size: 24px;
        margin-bottom: 0px;
    }
    .header-right.text-right {
        text-align: right !important;
    }
    .search-wrapper ul {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .select-form .select2-container {
        width: 390px !important;
    }
    .select-form-style select{
        width: 300px;
    }
    #contact-google-map {
        height: 450px;
    }
    #contact-google-map2 {
        height: 450px;
    }
}
/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 575px) {}